.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #360210;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.hannah-kannan {
  color: #f5f5f5;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 70px;
  top: 53px;
}
.main-menu {
  display: grid;
  gap: 66px;
  position: absolute;
  left: 927px;
  top: 46px;
  grid-template-columns: repeat(3, fit-content(100%));
  grid-template-rows: repeat(1, fit-content(100%));
}
.homepage {
  color: #f5f5f5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  width: 117px;
  height: 48px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.about {
  color: #f5f5f5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  width: 78px;
  height: 48px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.contact {
  color: #f5f5f5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.frame-1 {
  padding: 60px 44px;
}
.about-me {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}
.i-m-hannah-currently-a-master-s-student-in-information-systems-msis-at-the-university-of-maryland-graduating-december-2026-this-past-summer-i-worked-as-a-ux-researcher-on-the-google-search-team-i-m-currently-looking-for-full-time-ux-research-roles-outside-of-school-you-can-find-me-hiking-at-karaoke-with-friends-or-exploring-new-restaurants-and-food {
  color: #f5f5f5;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}